<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cyber Crime Report Unit</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="brand">Case Managemnent Platform and Tools</div>
    <div class="address-bar">Report a cyber incident easily and anonymously</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Business Casual</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="report.html">Make a Report</a>
                    </li>
                    <li>
                        <a href="chat.html">Live Chatroom</a>
                    </li>
                    <li>
                        <a href="QnA.html">FAQ</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
		<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About Us
                        <strong>What do we do?</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="img/man-coffee-cup-pen.jpg" alt="">
                    <hr class="visible-xs">
                    <p>We are a non-governmental and non-profit organization that aims to enable victims of cyber crimes to report those crimes easily and, if they chose so, anonymously.</p>
					<p>Our mission is to make sure you get the help that you need as soon as possible. You have the right to speak up against those that would commit crimes against you. 
					We put our voice behind yours, because we <i>know</i> that you are not alone.</p>
					<p>Make a report now. Help us give you the help that you deserve.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Contact Us</strong>
                    </h2>
                    <hr>
                    <center>
						<br><b>Tel.:</b> 22 123456 <b>Fax:</b> 22 123455<br><b>email:</b> contactus@cyberethics.eu<br>
						<a href="#">
							<img src="img/fb.png" alt="Visit our facebook page." width="50px" height="50px">
						</a>
						<a href="#">
							<img src="img/twitter.png" alt="Follow us on twitter." width="40px" height="40px">
						</a>
						<a href="#">
							<img src="img/google+.png" alt="Visit our google+ profile." width="40px" height="40px">
						</a>
					</center>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>&copy; 2016 Team 9</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
